body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


/*robot */
.robot_house {
  height: 150px;
  width: 300px;
  margin: 0 auto;
}
.beep {
  height: 0;
  width: 5px; 
  border: 5px solid transparent;
  border-bottom: 80px solid #888;
  border-top: 10px solid #777; 
}
.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%) #cc5;
  background: -webkit-radial-gradient(circle, white 45%, transparent 30%) #cc5;
  background-size: 75px 150px;
  width: 150px;
  height: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px double #666;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #bc6;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}
.foot {
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 40px;
  border: 15px solid #999;
}


/* dynamic dancer */
.dynamic {
  border: 15px solid blue;
}
